<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TransactionManual_CI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <!--<add name="CMSConnectionString" connectionString="Server=DUCDHM\MINHCHIEN;Database=CMS;uid=sa;pwd=123;Max Pool Size = 200; Pooling=true" providerName="System.Data.SqlClient" />-->
        <add name="CMSConnectionString" connectionString="Server=109.228.25.55; Database=Cms;uid=EswUser1;pwd=Esw1234$;Max Pool Size = 200; Pooling=true"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <TransactionManual_CI.Properties.Settings>
            <setting name="TransactionManual_CI_com_seur_citpre_ImprimirECBWebService"
                serializeAs="String">
                <value>http://citpre.seur.com/CIT-war/services/ImprimirECBWebService</value>
            </setting>
        </TransactionManual_CI.Properties.Settings>
    </applicationSettings>
</configuration>